<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutOutputDuringTests="true"
         bootstrap="tests/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         verbose="true"
>
    <testsuites>
        <testsuite name="Asymptix PHP Framework">
            <directory suffix="Test.php">./tests</directory>
            <exclude>./tests/db/</exclude>
            <exclude>./tests/email/</exclude>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./framework</directory>
        </whitelist>
    </filter>
    <groups>
        <exclude>
            <group>excluded</group>
        </exclude>
    </groups>
</phpunit>
